*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: white;
	background-position: 50% 70%;
	color: black;
	font-family: arial;
}

input{
	display: block;
	height: 50px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border:1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba(255,255,255,0.01);
	color: black;
	outline: none;
}

div#corpo-form{	
	width: 420px;
	margin: 130px auto 0px auto;

}

div#corpo-form-cad{
	width: 420px;
	margin: 1px auto 0px auto;
	}

div#corpo-form h1, div#corpo-form-cad{ 
	text-align: center;
	
}

a{
	color: black;
	text-decoration: none;
	text-align: center;
	display: block;
}

a:hover{
	text-decoration: underline;
}

input[type=submit]{
	background-color: blue;
	border: none;
	cursor: pointer;
}

::-webkit-input-placeholder{
	color: black;
}

:-moz-placeholder{
	color: black;
}

::-moz-placeholder{
	color: black;
}

:-ms-input-placehouder{
	color: black;
}